.job-list 
  .card-job 
    background: $cWhite
    padding: 30px
    border-radius: 30px
    width: 740px
    margin-bottom: 30px

    .job-title
      font-size: 22px
      font-weight: 800
      color: $cBlue
      cursor: pointer
      margin-bottom: 10px

  .job-details
    display: flex
    gap: 10px
    margin-bottom: 20px

  .detail-item 
    font-size: 14px
    color: rgba($cBlack, .70)
    padding: 5px 10px
    border-radius: 30px
    background: $cWhite-10

  .job-description 
    font-size: 16px
    line-height: 25px
    margin-bottom: 20px