.sidebar 
  position: fixed 
  width: 280px
  height: 100vh
  background: $cWhite-10
  left: 0
  top: 0
  border-right: 1px solid rgba(0, 0, 0, .10)
  
  .sidebar-logo
    height: 60px
    padding: 0 20px
    display: flex 
    align-items: center

    span
      font-size: 25px
      font-weight: 800
      color: $cBlack

  .sidebar-tabs 
    padding: 30px 20px 20px 20px