.accordion {
  margin: 1em 0;
}

.accordion-title {
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 1em;
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
}

.accordion-content {
  padding: 1em;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
}